

<div class="login-div">  
<div class="boder bg-secondary text-white w-50 p-3">
    <form  #userForm="ngForm">
     
        <label>Name</label>
        <input type="text" #username="ngModel" class="form-control" [class.is-invalid]="username.invalid && username.touched" name="username" [(ngModel)]="name" required> 
        <small class="text-danger" [class.d-none]="username.valid || username.untouched">Name is required</small>
        <br><br>

        <label>password</label>
          <input type="password" #password="ngModel" pattern="^([A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" class="form-control" required
          [class.is-invalid]="password.invalid && password.touched"  name="password" [(ngModel)]="password1" >
          <small class="text-danger" [class.d-none]="password.valid || password.untouched">password is required</small>
          <br><br>

          <label>Role</label>
          <input type="text" #role="ngModel" pattern="user|admin" class="form-control" required
          [class.is-invalid]="role.invalid && role.touched"  name="role" [(ngModel)]="roleValue" >
          <small class="text-danger" [class.d-none]="role.valid || role.untouched">Role is required</small>
          <br><br>

          <label>Email</label>
        <input type="text" #email="ngModel" pattern="^[a-z0-9]{4,13}@[a-z]+\.[a-z\.]{2,6}$" class="form-control" required
        [class.is-invalid]="email.invalid && email.touched"  name="email" [(ngModel)]="email1" >
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">email is required</small>
        <br><br>

    <button [disabled]="userForm.form.invalid" (click)="dashBoard()">Login</button>
</form>
   </div>
</div>

