<div class="container">
    <form [formGroup]="userform">
        <div>
            <label for="book_id"><b>BookID</b></label>
            <div>
                <input type="text"  id="book_id" name="book_id" formControlName="book_id" placeholder="domain_name"><br> 
            </div>
        </div>
       
        <div>
            <label for="bookname"><b>bookName</b></label>
            <div>
                <input type="text"  id="bookname" name="bookname" formControlName="bookname" placeholder="material"><br>  
            </div>
        </div>

        <div>
            <label for="category"><b>category</b></label>
            <div>
                <input type="text"  id="category" name="category" formControlName="category" placeholder="category"><br>  
            </div>
        </div>
        <div>
            <label for="author"><b>Author</b></label>
            <div>
                <input type="text"  id="author" name="author" formControlName="author" placeholder="author"><br>  
            </div>
        </div>
       
        <div class="mb-1">
            <div class="btn-group" role="group">
                <!-- <button class="btn btn-info" [routerLink]="['/user']">Back</button> -->
                <button (click)="save()" [disabled]="userform.invalid" class="btn btn-primary" type="button">
                    {{id==0 || id==null ?'Save':'Update'}}</button>
                <button class="btn btn-secondary" (click)="resetValues()" type="button">Reset </button>
            </div>
        </div>

        <!-- <div >
            {{userform.value |json}}
        </div>   -->
    </form>
</div>
